
## Materials Online

* We will use Moodle, provided by Berea College, for handing in assignments.
* We will use [Dropbox](http://dropbox.com/) for making sure we never lose our work. You should [create an account](http://db.tt/zgUQOl6A) if you do not already have one. It is free.

## Required Text and Materials

The following are *required*:

1. Charles Platt, [Make: Electronics (Learning by Discovery)](http://www.amazon.com/Make-Electronics-Discovery-Charles-Platt/dp/0596153740)
1. **A Freeduino Kit**. You will be charged directly by the TAD programme for this technology.
1. **A LilyTiny**. You will also be charged directly for this technology.
1. A notebook.
1. Safety Goggles.
